h1 {
  text-align: center;
  margin: 20px 0;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 24px;
  color: grey;
}
h4 {
  font-size: 45px;
}
ul {
  list-style-type: none;
}
#weather-forecast-temperature-min {
  color: grey;
  opacity: 0.8;
}

#temperature {
  color: darkblue;
}

#description {
  color: rgb(25, 158, 241);
  margin-bottom: 60px;
}

#description:first-letter {
  text-transform: capitalize;
}

.container {
  padding: 40px;
  margin: 50px 50px 0px 50px;
  font-family: "Roboto Slab", serif;
  background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  border-radius: 30px;
}
.card-body {
  background-color: white;
  border-radius: 5px;
}
.card {
  text-align: left;
  margin-right: 20px;
}
.weatherdata {
  margin-left: 300px;
  margin-top: 30px;
  font-size: 20px;
}
.card-title,
.card-text {
  text-align: center;
}
.card-text {
  font-size: 20px;
  font-weight: lighter;
}
.units {
  position: relative;
  font-size: 16px;
  top: -20px;
  text-decoration: none;
}

.footer {
  margin-top: 30px;
  margin-left: 50px;
}
.temperature .active {
  color: darkblue;
  cursor: default;
  text-decoration: none;
}
.temperature.active:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
}
